.subscribeus{
    background-color: #EAEAEA;
}

.subscribetext{
    font-size: 24px;
    font-weight: 400;
    font-family:  DM Serif Display;
    letter-spacing: 0.01em;
}

.btncolor{

    background-color: #293355;
    font-weight: 600;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
}