.fontsizeheading{
    font-size: 15px;
    font-weight: 900;
    padding-bottom: 10px;
}

.textul li{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: normal;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Overpass,Arial,sans-serif;
    text-transform: capitalize;
    padding: 5px 0;
    color: #202020;
}

ul li{
    list-style: none;
}

.textul li a{
    background: 
    linear-gradient(currentColor 0 0) 
    bottom /var(--d, 0) 2px 
    no-repeat;
transition:0.4s;
position: relative;


}

.textul li 